In [6]:
l1= ['java', 'pearl']
l1.append(['c', 'c++'])
l1

['java', 'pearl', ['c', 'c++']]

In [7]:
l2= ['java', 'pearl']
l2.extend(['c', 'c++'])
l2

['java', 'pearl', 'c', 'c++']

In [9]:
def add(x, y):
    return x+y

add(10,10)

20

In [10]:
f = lambda x,y : x+y
f(10,20)

30

In [16]:
def square(x):
    return x*x

lst = [1,2,3,4,5]
list(map(square, l))

[1, 4, 9, 16, 25]

In [17]:
lst

[1, 2, 3, 4, 5]

In [18]:
list(map(lambda x : x*x, lst))

[1, 4, 9, 16, 25]

In [22]:
# def checkOdd(x):
#     return x%2 != 0

mylist = [1,2,3,4,5,6,7,8,9,10]

list(filter(lambda x : x%2 != 0, mylist))

[1, 3, 5, 7, 9]

In [23]:
# list comprehension

# [ expr for val in colletion]


name = "shivank singh"
res  = []
for i in name :
    res.append(i)

In [24]:
print(res)

['s', 'h', 'i', 'v', 'a', 'n', 'k', ' ', 's', 'i', 'n', 'g', 'h']

In [25]:
[i for i in name]

['s', 'h', 'i', 'v', 'a', 'n', 'k', ' ', 's', 'i', 'n', 'g', 'h']

In [26]:
[i**2 for i in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
# 1 - 10
# 2 - even
# 3 - odd

['even' if x%2==0 else 'odd' for x in range(1, 11)]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']